<launch>


<!-- Start Gazebo with an empty world -->
  	<include file="$(find gazebo_ros)/launch/empty_world.launch">
    	<arg name="world_name" value="world"/>
	</include>


<!-- Launch model inside gazebo -->
	<node pkg="gazebo_ros" name="urdf_spawner" type="spawn_model" respawn="false" output="screen" args="-urdf -model agv_controller -file $(env GAZEBO_MODEL_PATH)/agv/rrbot.xml"/>

<!-- Load controller parameters  -->
	<!-- <rosparam file="$(find agv_controller)/config/agv_params.yaml" command="load"/> -->

<!-- Start controller manager, load joint interface and start joint controllers -->
<!-- 	<node pkg="controller_manager" name="controller_spawner" type="spawner" respawn="false" output="screen" ns="agv_robot" args="joint_state_controller joint1_position_controller joint2_position_controller"/> -->


</launch>