<launch>




<!-- Start controller manager, load joint interface and start joint controllers -->
	<node pkg="controller_manager" name="controller_spawner" type="spawner" respawn="false" output="screen" ns="/agv" args="joint_state_controller 
		wheel_fl_speed_controller
		wheel_fr_speed_controller
		wheel_bl_speed_controller
		wheel_br_speed_controller"/>


</launch>