<?xml version="1.0"?>
<robot name="youbot" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <!-- The following included files set up definitions of parts of the robot body -->
  <!-- misc common stuff? -->
    <gazebo>
        <plugin name="gazebo_ros_controller" filename="libgazebo_ros_control.so">
          <robotNamespace>/agv</robotNamespace>
        </plugin>
    </gazebo>


  <!-- youbot base -->
  <xacro:include filename="$(find agv_controller)/models/base.urdf.xacro" />

     <transmission name="wheel_trans_fl">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="wheel_joint_fl"/>
    <actuator name="wheel_motor_fl">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>79.2380952381</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="wheel_trans_fr">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="wheel_joint_fr"/>
    <actuator name="wheel_motor_fr">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>79.2380952381</mechanicalReduction>
    </actuator>
  </transmission>




  <!-- Now we can start using the macros included above to define the actual youbot -->

  <!-- The first use of a macro.  This one was defined in base.urdf.xacro above.
       A macro like this will expand to a set of link and joint definitions, and to additional
       Gazebo-related extensions (sensor plugins, etc).  The macro takes an argument, name, 
       that equals "base", and uses it to generate names for its component links and joints 
       (e.g., base_link).  The included origin block is also an argument to the macro.  By convention, 
       the origin block defines where the component is w.r.t its parent (in this case the parent 
       is the world frame). For more, see http://www.ros.org/wiki/xacro -->


</robot>